/* Generel stil */
body {
    background-image: url('https://photos.watchmedier.dk/watchmedier/resize:fill:3840:0:0/plain/https://photos.watchmedier.dk/Images/14870932/rqqmlc/ALTERNATES/schema-4_3/Title%2520mangler');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 200vh;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: white;
    text-align: center;
}

/* Navigation Bar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7); /* Mørk gennemsigtig farve */
    position: fixed;
    top: 0;
    width: 100%;
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

.navbar h1 {
    color: white;
    font-size: 24px;
    margin: 0;
}

/* Links i navbar */
.navbar a {
    color: white;
    text-decoration: none;
    padding: 10px;
    font-size: 18px;
    border-radius: 5px;
}

.navbar a:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

/* Stil til main-content */
.main-content {
    margin-top: 80px; /* Lægger noget afstand til navbar */
}

p {
    margin: 20px;
}

a {
    text-decoration: none;
    color: white;
    font-size: 24px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px 20px;
    border-radius: 5px;
}

a:hover {
    background-color: rgba(0, 0, 0, 0.7);
}
